@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");





input {
  border: 1px solid;
  border-radius: 3px;
}

input:hover {
  border-color: hsl(169, 82%, 27%);
  cursor: pointer;
}

.input-error {
  border-color: hsl(0, 66%, 54%);
}


@media screen and (width>400px){
  .names{
    width: 50%;
  }
  form{
    width:60%;
  }
  form div{
    margin:5px;
  }
  .name-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5px;
  }
  .query-padding{
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
  }
}
@media screen and (width<400px){
  .name-container{
    display: flex;
    flex-direction: column;
  }
  .query-padding{
   margin-bottom: 5px;
  }
}